RoyaltyServiceWorker/Service References/AccountService/RoyaltyService.Model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="BasePagedExecutionResultsOfImportQueueRecordh3e0gNRf">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BasePagedExecutionResultsOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ImportQueueRecord" Namespace="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseExecutionResultsOfImportQueueRecordh3e0gNRf">
        <xs:sequence>
          <xs:element minOccurs="0" name="PageCount" type="xs:long" />
          <xs:element minOccurs="0" name="PageIndex" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BasePagedExecutionResultsOfImportQueueRecordh3e0gNRf" nillable="true" type="tns:BasePagedExecutionResultsOfImportQueueRecordh3e0gNRf" />
  <xs:complexType name="BaseExecutionResultsOfImportQueueRecordh3e0gNRf">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseExecutionResultsOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ImportQueueRecord" Namespace="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Result">
        <xs:sequence>
          <xs:element minOccurs="0" name="Values" nillable="true" type="tns:ArrayOfImportQueueRecord" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseExecutionResultsOfImportQueueRecordh3e0gNRf" nillable="true" type="tns:BaseExecutionResultsOfImportQueueRecordh3e0gNRf" />
  <xs:complexType name="Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Result" nillable="true" type="tns:Result" />
  <xs:complexType name="ArrayOfImportQueueRecord">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ImportQueueRecord" nillable="true" type="tns:ImportQueueRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfImportQueueRecord" nillable="true" type="tns:ArrayOfImportQueueRecord" />
  <xs:complexType name="ImportQueueRecord">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountUID" type="ser:guid" />
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileInfoes" nillable="true" type="tns:ArrayOfImportQueueRecordFileInfo" />
      <xs:element minOccurs="0" name="HasError" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="ProcessedDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImportQueueRecord" nillable="true" type="tns:ImportQueueRecord" />
  <xs:complexType name="ArrayOfImportQueueRecordFileInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ImportQueueRecordFileInfo" nillable="true" type="tns:ImportQueueRecordFileInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfImportQueueRecordFileInfo" nillable="true" type="tns:ArrayOfImportQueueRecordFileInfo" />
  <xs:complexType name="ImportQueueRecordFileInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Files" nillable="true" type="tns:ArrayOfImportQueueRecordFileInfoFile" />
      <xs:element minOccurs="0" name="Finished" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ForAnalize" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="ImportQueueRecordStateID" type="xs:long" />
      <xs:element minOccurs="0" name="ImportQueueRecordUID" type="ser:guid" />
      <xs:element minOccurs="0" name="LoadedRecords" nillable="true" type="tns:ArrayOfImportQueueRecordFileAccountDataRecord" />
      <xs:element minOccurs="0" name="SourceFilePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Started" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImportQueueRecordFileInfo" nillable="true" type="tns:ImportQueueRecordFileInfo" />
  <xs:complexType name="ArrayOfImportQueueRecordFileInfoFile">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ImportQueueRecordFileInfoFile" nillable="true" type="tns:ImportQueueRecordFileInfoFile" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfImportQueueRecordFileInfoFile" nillable="true" type="tns:ArrayOfImportQueueRecordFileInfoFile" />
  <xs:complexType name="ImportQueueRecordFileInfoFile">
    <xs:sequence>
      <xs:element minOccurs="0" name="File" nillable="true" type="tns:File" />
      <xs:element minOccurs="0" name="FileUID" type="ser:guid" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="ImportQueueRecordFileInfoUID" type="ser:guid" />
      <xs:element minOccurs="0" name="TypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeSystemName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImportQueueRecordFileInfoFile" nillable="true" type="tns:ImportQueueRecordFileInfoFile" />
  <xs:complexType name="File">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Encoding" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileSize" type="xs:long" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="MimeType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Preview" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PreviewSmall" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StoredFileName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="File" nillable="true" type="tns:File" />
  <xs:complexType name="ArrayOfImportQueueRecordFileAccountDataRecord">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ImportQueueRecordFileAccountDataRecord" nillable="true" type="tns:ImportQueueRecordFileAccountDataRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfImportQueueRecordFileAccountDataRecord" nillable="true" type="tns:ArrayOfImportQueueRecordFileAccountDataRecord" />
  <xs:complexType name="ImportQueueRecordFileAccountDataRecord">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountDataRecordID" type="ser:guid" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="ImportQueueRecordFileInfoUID" type="ser:guid" />
      <xs:element minOccurs="0" name="LoadDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImportQueueRecordFileAccountDataRecord" nillable="true" type="tns:ImportQueueRecordFileAccountDataRecord" />
  <xs:complexType name="BaseExecutionResultOfImportQueueRecordh3e0gNRf">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseExecutionResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ImportQueueRecord" Namespace="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Result">
        <xs:sequence>
          <xs:element minOccurs="0" name="Value" nillable="true" type="tns:ImportQueueRecord" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseExecutionResultOfImportQueueRecordh3e0gNRf" nillable="true" type="tns:BaseExecutionResultOfImportQueueRecordh3e0gNRf" />
  <xs:complexType name="GuidExecutionResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseExecutionResultOfguid">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GuidExecutionResult" nillable="true" type="tns:GuidExecutionResult" />
  <xs:complexType name="BaseExecutionResultOfguid">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseExecutionResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="guid" Namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Result">
        <xs:sequence>
          <xs:element minOccurs="0" name="Value" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseExecutionResultOfguid" nillable="true" type="tns:BaseExecutionResultOfguid" />
  <xs:complexType name="GuidExecutionResults">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseExecutionResultsOfguid">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GuidExecutionResults" nillable="true" type="tns:GuidExecutionResults" />
  <xs:complexType name="BaseExecutionResultsOfguid">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseExecutionResultsOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="guid" Namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Result">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Values" nillable="true" type="q1:ArrayOfguid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseExecutionResultsOfguid" nillable="true" type="tns:BaseExecutionResultsOfguid" />
  <xs:complexType name="BaseExecutionResultsOfImportQueueRecordStateh3e0gNRf">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseExecutionResultsOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ImportQueueRecordState" Namespace="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Result">
        <xs:sequence>
          <xs:element minOccurs="0" name="Values" nillable="true" type="tns:ArrayOfImportQueueRecordState" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseExecutionResultsOfImportQueueRecordStateh3e0gNRf" nillable="true" type="tns:BaseExecutionResultsOfImportQueueRecordStateh3e0gNRf" />
  <xs:complexType name="ArrayOfImportQueueRecordState">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ImportQueueRecordState" nillable="true" type="tns:ImportQueueRecordState" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfImportQueueRecordState" nillable="true" type="tns:ArrayOfImportQueueRecordState" />
  <xs:complexType name="ImportQueueRecordState">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SystemName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImportQueueRecordState" nillable="true" type="tns:ImportQueueRecordState" />
  <xs:complexType name="BaseExecutionResultsOfAccountDataRecordAdditionalColumnh3e0gNRf">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseExecutionResultsOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="AccountDataRecordAdditionalColumn" Namespace="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Result">
        <xs:sequence>
          <xs:element minOccurs="0" name="Values" nillable="true" type="tns:ArrayOfAccountDataRecordAdditionalColumn" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseExecutionResultsOfAccountDataRecordAdditionalColumnh3e0gNRf" nillable="true" type="tns:BaseExecutionResultsOfAccountDataRecordAdditionalColumnh3e0gNRf" />
  <xs:complexType name="ArrayOfAccountDataRecordAdditionalColumn">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AccountDataRecordAdditionalColumn" nillable="true" type="tns:AccountDataRecordAdditionalColumn" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccountDataRecordAdditionalColumn" nillable="true" type="tns:ArrayOfAccountDataRecordAdditionalColumn" />
  <xs:complexType name="AccountDataRecordAdditionalColumn">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountUID" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="ColumnName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ColumnSystemName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Export" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountDataRecordAdditionalColumn" nillable="true" type="tns:AccountDataRecordAdditionalColumn" />
  <xs:complexType name="BaseExecutionResultOfAccountDataRecordAdditionalColumnh3e0gNRf">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseExecutionResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="AccountDataRecordAdditionalColumn" Namespace="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Result">
        <xs:sequence>
          <xs:element minOccurs="0" name="Value" nillable="true" type="tns:AccountDataRecordAdditionalColumn" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseExecutionResultOfAccountDataRecordAdditionalColumnh3e0gNRf" nillable="true" type="tns:BaseExecutionResultOfAccountDataRecordAdditionalColumnh3e0gNRf" />
  <xs:complexType name="LongExecutionResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseExecutionResultOflong">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LongExecutionResult" nillable="true" type="tns:LongExecutionResult" />
  <xs:complexType name="BaseExecutionResultOflong">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseExecutionResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="long" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Result">
        <xs:sequence>
          <xs:element minOccurs="0" name="Value" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseExecutionResultOflong" nillable="true" type="tns:BaseExecutionResultOflong" />
  <xs:complexType name="LongExecutionResults">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseExecutionResultsOflong">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LongExecutionResults" nillable="true" type="tns:LongExecutionResults" />
  <xs:complexType name="BaseExecutionResultsOflong">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseExecutionResultsOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="long" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Result">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Values" nillable="true" type="q2:ArrayOflong" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseExecutionResultsOflong" nillable="true" type="tns:BaseExecutionResultsOflong" />
  <xs:complexType name="BasePagedExecutionResultsOfAccountPhoneMarkh3e0gNRf">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BasePagedExecutionResultsOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="AccountPhoneMark" Namespace="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseExecutionResultsOfAccountPhoneMarkh3e0gNRf">
        <xs:sequence>
          <xs:element minOccurs="0" name="PageCount" type="xs:long" />
          <xs:element minOccurs="0" name="PageIndex" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BasePagedExecutionResultsOfAccountPhoneMarkh3e0gNRf" nillable="true" type="tns:BasePagedExecutionResultsOfAccountPhoneMarkh3e0gNRf" />
  <xs:complexType name="BaseExecutionResultsOfAccountPhoneMarkh3e0gNRf">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseExecutionResultsOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="AccountPhoneMark" Namespace="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Result">
        <xs:sequence>
          <xs:element minOccurs="0" name="Values" nillable="true" type="tns:ArrayOfAccountPhoneMark" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseExecutionResultsOfAccountPhoneMarkh3e0gNRf" nillable="true" type="tns:BaseExecutionResultsOfAccountPhoneMarkh3e0gNRf" />
  <xs:complexType name="ArrayOfAccountPhoneMark">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AccountPhoneMark" nillable="true" type="tns:AccountPhoneMark" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccountPhoneMark" nillable="true" type="tns:ArrayOfAccountPhoneMark" />
  <xs:complexType name="AccountPhoneMark">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountUID" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="MarkID" type="xs:long" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountPhoneMark" nillable="true" type="tns:AccountPhoneMark" />
  <xs:complexType name="BaseExecutionResultOfAccountPhoneMarkh3e0gNRf">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseExecutionResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="AccountPhoneMark" Namespace="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Result">
        <xs:sequence>
          <xs:element minOccurs="0" name="Value" nillable="true" type="tns:AccountPhoneMark" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseExecutionResultOfAccountPhoneMarkh3e0gNRf" nillable="true" type="tns:BaseExecutionResultOfAccountPhoneMarkh3e0gNRf" />
  <xs:complexType name="BaseExecutionResultsOfAccountSeriesOfNumbersRecordh3e0gNRf">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseExecutionResultsOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="AccountSeriesOfNumbersRecord" Namespace="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Result">
        <xs:sequence>
          <xs:element minOccurs="0" name="Values" nillable="true" type="tns:ArrayOfAccountSeriesOfNumbersRecord" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseExecutionResultsOfAccountSeriesOfNumbersRecordh3e0gNRf" nillable="true" type="tns:BaseExecutionResultsOfAccountSeriesOfNumbersRecordh3e0gNRf" />
  <xs:complexType name="ArrayOfAccountSeriesOfNumbersRecord">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AccountSeriesOfNumbersRecord" nillable="true" type="tns:AccountSeriesOfNumbersRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccountSeriesOfNumbersRecord" nillable="true" type="tns:ArrayOfAccountSeriesOfNumbersRecord" />
  <xs:complexType name="AccountSeriesOfNumbersRecord">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountUID" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Delay" type="ser:duration" />
      <xs:element minOccurs="0" name="DigitCount" type="xs:long" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountSeriesOfNumbersRecord" nillable="true" type="tns:AccountSeriesOfNumbersRecord" />
  <xs:complexType name="BaseExecutionResultOfAccountSeriesOfNumbersRecordh3e0gNRf">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseExecutionResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="AccountSeriesOfNumbersRecord" Namespace="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Result">
        <xs:sequence>
          <xs:element minOccurs="0" name="Value" nillable="true" type="tns:AccountSeriesOfNumbersRecord" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseExecutionResultOfAccountSeriesOfNumbersRecordh3e0gNRf" nillable="true" type="tns:BaseExecutionResultOfAccountSeriesOfNumbersRecordh3e0gNRf" />
  <xs:complexType name="AccountSettingsSheduleTime">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountUID" type="ser:guid" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Time" type="ser:duration" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountSettingsSheduleTime" nillable="true" type="tns:AccountSettingsSheduleTime" />
  <xs:complexType name="BaseExecutionResultOfAccountSettingsSheduleTimeh3e0gNRf">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseExecutionResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="AccountSettingsSheduleTime" Namespace="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Result">
        <xs:sequence>
          <xs:element minOccurs="0" name="Value" nillable="true" type="tns:AccountSettingsSheduleTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseExecutionResultOfAccountSettingsSheduleTimeh3e0gNRf" nillable="true" type="tns:BaseExecutionResultOfAccountSettingsSheduleTimeh3e0gNRf" />
  <xs:complexType name="AccountSettingsExportDirectory">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountUID" type="ser:guid" />
      <xs:element minOccurs="0" name="DirectoryPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EncodingName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExecuteAfterAnalizeCommand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="MarkID" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="TimeoutForExecute" type="ser:duration" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountSettingsExportDirectory" nillable="true" type="tns:AccountSettingsExportDirectory" />
  <xs:complexType name="BaseExecutionResultOfAccountSettingsExportDirectoryh3e0gNRf">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseExecutionResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="AccountSettingsExportDirectory" Namespace="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Result">
        <xs:sequence>
          <xs:element minOccurs="0" name="Value" nillable="true" type="tns:AccountSettingsExportDirectory" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseExecutionResultOfAccountSettingsExportDirectoryh3e0gNRf" nillable="true" type="tns:BaseExecutionResultOfAccountSettingsExportDirectoryh3e0gNRf" />
  <xs:complexType name="AccountSettingsImportDirectory">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountUID" type="ser:guid" />
      <xs:element minOccurs="0" name="DeleteFileAfterImport" type="xs:boolean" />
      <xs:element minOccurs="0" name="EncodingName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Filter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ForAnalize" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Path" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecursiveFolderSearch" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountSettingsImportDirectory" nillable="true" type="tns:AccountSettingsImportDirectory" />
  <xs:complexType name="BaseExecutionResultOfAccountSettingsImportDirectoryh3e0gNRf">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseExecutionResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="AccountSettingsImportDirectory" Namespace="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Result">
        <xs:sequence>
          <xs:element minOccurs="0" name="Value" nillable="true" type="tns:AccountSettingsImportDirectory" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseExecutionResultOfAccountSettingsImportDirectoryh3e0gNRf" nillable="true" type="tns:BaseExecutionResultOfAccountSettingsImportDirectoryh3e0gNRf" />
  <xs:complexType name="AccountSettingsColumn">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountUID" type="ser:guid" />
      <xs:element minOccurs="0" name="ColumnName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ColumnTypeID" type="xs:long" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountSettingsColumn" nillable="true" type="tns:AccountSettingsColumn" />
  <xs:complexType name="BaseExecutionResultOfAccountSettingsColumnh3e0gNRf">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseExecutionResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="AccountSettingsColumn" Namespace="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Result">
        <xs:sequence>
          <xs:element minOccurs="0" name="Value" nillable="true" type="tns:AccountSettingsColumn" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseExecutionResultOfAccountSettingsColumnh3e0gNRf" nillable="true" type="tns:BaseExecutionResultOfAccountSettingsColumnh3e0gNRf" />
  <xs:complexType name="BaseExecutionResultsOfMarkh3e0gNRf">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseExecutionResultsOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Mark" Namespace="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Result">
        <xs:sequence>
          <xs:element minOccurs="0" name="Values" nillable="true" type="tns:ArrayOfMark" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseExecutionResultsOfMarkh3e0gNRf" nillable="true" type="tns:BaseExecutionResultsOfMarkh3e0gNRf" />
  <xs:complexType name="ArrayOfMark">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Mark" nillable="true" type="tns:Mark" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMark" nillable="true" type="tns:ArrayOfMark" />
  <xs:complexType name="Mark">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SystemName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Mark" nillable="true" type="tns:Mark" />
  <xs:complexType name="BaseExecutionResultsOfColumnTypeh3e0gNRf">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseExecutionResultsOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ColumnType" Namespace="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Result">
        <xs:sequence>
          <xs:element minOccurs="0" name="Values" nillable="true" type="tns:ArrayOfColumnType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseExecutionResultsOfColumnTypeh3e0gNRf" nillable="true" type="tns:BaseExecutionResultsOfColumnTypeh3e0gNRf" />
  <xs:complexType name="ArrayOfColumnType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ColumnType" nillable="true" type="tns:ColumnType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfColumnType" nillable="true" type="tns:ArrayOfColumnType" />
  <xs:complexType name="ColumnType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Export" type="xs:boolean" />
      <xs:element minOccurs="0" name="ExportColumnIndex" type="xs:long" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="ImportRowValidation" type="xs:boolean" />
      <xs:element minOccurs="0" name="ImportTableValidation" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SystemName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ColumnType" nillable="true" type="tns:ColumnType" />
  <xs:complexType name="BaseExecutionResultsOfAccounth3e0gNRf">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseExecutionResultsOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Account" Namespace="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Result">
        <xs:sequence>
          <xs:element minOccurs="0" name="Values" nillable="true" type="tns:ArrayOfAccount" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseExecutionResultsOfAccounth3e0gNRf" nillable="true" type="tns:BaseExecutionResultsOfAccounth3e0gNRf" />
  <xs:complexType name="ArrayOfAccount">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Account" nillable="true" type="tns:Account" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccount" nillable="true" type="tns:ArrayOfAccount" />
  <xs:complexType name="Account">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsBusy" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsHidden" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Settings" nillable="true" type="tns:AccountSettings" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Account" nillable="true" type="tns:Account" />
  <xs:complexType name="AccountSettings">
    <xs:sequence>
      <xs:element minOccurs="0" name="Columns" nillable="true" type="tns:ArrayOfAccountSettingsColumn" />
      <xs:element minOccurs="0" name="ExportDirectories" nillable="true" type="tns:ArrayOfAccountSettingsExportDirectory" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="IgnoreExportTime" nillable="true" type="ser:duration" />
      <xs:element minOccurs="0" name="ImportDirectories" nillable="true" type="tns:ArrayOfAccountSettingsImportDirectory" />
      <xs:element minOccurs="0" name="SheduleTimes" nillable="true" type="tns:ArrayOfAccountSettingsSheduleTime" />
      <xs:element minOccurs="0" name="TimeForTrust" nillable="true" type="ser:duration" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountSettings" nillable="true" type="tns:AccountSettings" />
  <xs:complexType name="ArrayOfAccountSettingsColumn">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AccountSettingsColumn" nillable="true" type="tns:AccountSettingsColumn" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccountSettingsColumn" nillable="true" type="tns:ArrayOfAccountSettingsColumn" />
  <xs:complexType name="ArrayOfAccountSettingsExportDirectory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AccountSettingsExportDirectory" nillable="true" type="tns:AccountSettingsExportDirectory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccountSettingsExportDirectory" nillable="true" type="tns:ArrayOfAccountSettingsExportDirectory" />
  <xs:complexType name="ArrayOfAccountSettingsImportDirectory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AccountSettingsImportDirectory" nillable="true" type="tns:AccountSettingsImportDirectory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccountSettingsImportDirectory" nillable="true" type="tns:ArrayOfAccountSettingsImportDirectory" />
  <xs:complexType name="ArrayOfAccountSettingsSheduleTime">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AccountSettingsSheduleTime" nillable="true" type="tns:AccountSettingsSheduleTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccountSettingsSheduleTime" nillable="true" type="tns:ArrayOfAccountSettingsSheduleTime" />
  <xs:complexType name="BaseExecutionResultOfAccounth3e0gNRf">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseExecutionResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Account" Namespace="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Result">
        <xs:sequence>
          <xs:element minOccurs="0" name="Value" nillable="true" type="tns:Account" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseExecutionResultOfAccounth3e0gNRf" nillable="true" type="tns:BaseExecutionResultOfAccounth3e0gNRf" />
  <xs:complexType name="BaseExecutionResultOfAccountSettingsh3e0gNRf">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseExecutionResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="AccountSettings" Namespace="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Result">
        <xs:sequence>
          <xs:element minOccurs="0" name="Value" nillable="true" type="tns:AccountSettings" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseExecutionResultOfAccountSettingsh3e0gNRf" nillable="true" type="tns:BaseExecutionResultOfAccountSettingsh3e0gNRf" />
</xs:schema>