RoyaltyServiceWorker/Service References/AccountService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/RoyaltyService.Services.Account.Result" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="ChangeLanguage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codename" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTSettingsSheduleTimePut">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" minOccurs="0" name="item" nillable="true" type="q1:AccountSettingsSheduleTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTSettingsSheduleTimePutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RoyaltyService.Services.Account.Result" minOccurs="0" name="RESTSettingsSheduleTimePutResult" nillable="true" type="q2:AccountSettingsSheduleTimeResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTSettingsSheduleTimeUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" minOccurs="0" name="item" nillable="true" type="q3:AccountSettingsSheduleTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTSettingsSheduleTimeUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/RoyaltyService.Services.Account.Result" minOccurs="0" name="RESTSettingsSheduleTimeUpdateResult" nillable="true" type="q4:AccountSettingsSheduleTimeResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTSettingsSheduleTimeRemove">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTSettingsSheduleTimeRemoveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" minOccurs="0" name="RESTSettingsSheduleTimeRemoveResult" nillable="true" type="q5:LongExecutionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTSettingsSheduleTimeRemoveRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="identifiers" nillable="true" type="q6:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTSettingsSheduleTimeRemoveRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" minOccurs="0" name="RESTSettingsSheduleTimeRemoveRangeResult" nillable="true" type="q7:LongExecutionResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTSettingsExportDirectoryPut">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" minOccurs="0" name="item" nillable="true" type="q8:AccountSettingsExportDirectory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTSettingsExportDirectoryPutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/RoyaltyService.Services.Account.Result" minOccurs="0" name="RESTSettingsExportDirectoryPutResult" nillable="true" type="q9:AccountSettingsExportDirectoryResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTSettingsExportDirectoryUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" minOccurs="0" name="item" nillable="true" type="q10:AccountSettingsExportDirectory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTSettingsExportDirectoryUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/RoyaltyService.Services.Account.Result" minOccurs="0" name="RESTSettingsExportDirectoryUpdateResult" nillable="true" type="q11:AccountSettingsExportDirectoryResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTSettingsExportDirectoryRemove">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTSettingsExportDirectoryRemoveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" minOccurs="0" name="RESTSettingsExportDirectoryRemoveResult" nillable="true" type="q12:LongExecutionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTSettingsExportDirectoryRemoveRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="identifiers" nillable="true" type="q13:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTSettingsExportDirectoryRemoveRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" minOccurs="0" name="RESTSettingsExportDirectoryRemoveRangeResult" nillable="true" type="q14:LongExecutionResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTSettingsImportDirectoryPut">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" minOccurs="0" name="item" nillable="true" type="q15:AccountSettingsImportDirectory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTSettingsImportDirectoryPutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/RoyaltyService.Services.Account.Result" minOccurs="0" name="RESTSettingsImportDirectoryPutResult" nillable="true" type="q16:AccountSettingsImportDirectoryResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTSettingsImportDirectoryUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" minOccurs="0" name="item" nillable="true" type="q17:AccountSettingsImportDirectory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTSettingsImportDirectoryUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/RoyaltyService.Services.Account.Result" minOccurs="0" name="RESTSettingsImportDirectoryUpdateResult" nillable="true" type="q18:AccountSettingsImportDirectoryResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTSettingsImportDirectoryRemove">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTSettingsImportDirectoryRemoveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" minOccurs="0" name="RESTSettingsImportDirectoryRemoveResult" nillable="true" type="q19:LongExecutionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTSettingsImportDirectoryRemoveRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="identifiers" nillable="true" type="q20:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTSettingsImportDirectoryRemoveRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" minOccurs="0" name="RESTSettingsImportDirectoryRemoveRangeResult" nillable="true" type="q21:LongExecutionResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTSettingsColumnPut">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" minOccurs="0" name="item" nillable="true" type="q22:AccountSettingsColumn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTSettingsColumnPutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/RoyaltyService.Services.Account.Result" minOccurs="0" name="RESTSettingsColumnPutResult" nillable="true" type="q23:AccountSettingsColumnsResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTSettingsColumnUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" minOccurs="0" name="item" nillable="true" type="q24:AccountSettingsColumn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTSettingsColumnUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/RoyaltyService.Services.Account.Result" minOccurs="0" name="RESTSettingsColumnUpdateResult" nillable="true" type="q25:AccountSettingsColumnsResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTSettingsColumnRemove">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTSettingsColumnRemoveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" minOccurs="0" name="RESTSettingsColumnRemoveResult" nillable="true" type="q26:LongExecutionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTSettingsColumnRemoveRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="identifiers" nillable="true" type="q27:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTSettingsColumnRemoveRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" minOccurs="0" name="RESTSettingsColumnRemoveRangeResult" nillable="true" type="q28:LongExecutionResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTGetColumnMarks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTGetColumnMarksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/RoyaltyService.Services.Account.Result" minOccurs="0" name="RESTGetColumnMarksResult" nillable="true" type="q29:AccountSettingsMarkResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTGetColumnTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTGetColumnTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/RoyaltyService.Services.Account.Result" minOccurs="0" name="RESTGetColumnTypesResult" nillable="true" type="q30:AccountSettingsColumnTypeResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTGetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTGetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/RoyaltyService.Services.Account.Result" minOccurs="0" name="RESTGetAllResult" nillable="true" type="q31:AccountResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/RoyaltyService.Services.Account.Result" minOccurs="0" name="RESTGetResult" nillable="true" type="q32:AccountResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTGetRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="identifiers" nillable="true" type="q33:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTGetRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/RoyaltyService.Services.Account.Result" minOccurs="0" name="RESTGetRangeResult" nillable="true" type="q34:AccountResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTPut">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" minOccurs="0" name="item" nillable="true" type="q35:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTPutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/RoyaltyService.Services.Account.Result" minOccurs="0" name="RESTPutResult" nillable="true" type="q36:AccountResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" minOccurs="0" name="item" nillable="true" type="q37:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/RoyaltyService.Services.Account.Result" minOccurs="0" name="RESTUpdateResult" nillable="true" type="q38:AccountResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTRemove">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTRemoveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" minOccurs="0" name="RESTRemoveResult" nillable="true" type="q39:GuidExecutionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTRemoveRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="identifier" nillable="true" type="q40:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTRemoveRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" minOccurs="0" name="RESTRemoveRangeResult" nillable="true" type="q41:GuidExecutionResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SettingsSheduleTimePut">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" minOccurs="0" name="item" nillable="true" type="q42:AccountSettingsSheduleTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SettingsSheduleTimePutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/RoyaltyService.Services.Account.Result" minOccurs="0" name="SettingsSheduleTimePutResult" nillable="true" type="q43:AccountSettingsSheduleTimeResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SettingsSheduleTimeUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" minOccurs="0" name="item" nillable="true" type="q44:AccountSettingsSheduleTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SettingsSheduleTimeUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/RoyaltyService.Services.Account.Result" minOccurs="0" name="SettingsSheduleTimeUpdateResult" nillable="true" type="q45:AccountSettingsSheduleTimeResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SettingsSheduleTimeRemove">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="identifier" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SettingsSheduleTimeRemoveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" minOccurs="0" name="SettingsSheduleTimeRemoveResult" nillable="true" type="q46:LongExecutionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SettingsSheduleTimeRemoveRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="identifiers" nillable="true" type="q47:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SettingsSheduleTimeRemoveRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" minOccurs="0" name="SettingsSheduleTimeRemoveRangeResult" nillable="true" type="q48:LongExecutionResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SettingsExportDirectoryPut">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" minOccurs="0" name="item" nillable="true" type="q49:AccountSettingsExportDirectory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SettingsExportDirectoryPutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/RoyaltyService.Services.Account.Result" minOccurs="0" name="SettingsExportDirectoryPutResult" nillable="true" type="q50:AccountSettingsExportDirectoryResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SettingsExportDirectoryUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" minOccurs="0" name="item" nillable="true" type="q51:AccountSettingsExportDirectory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SettingsExportDirectoryUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/RoyaltyService.Services.Account.Result" minOccurs="0" name="SettingsExportDirectoryUpdateResult" nillable="true" type="q52:AccountSettingsExportDirectoryResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SettingsExportDirectoryRemove">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="identifier" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SettingsExportDirectoryRemoveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" minOccurs="0" name="SettingsExportDirectoryRemoveResult" nillable="true" type="q53:LongExecutionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SettingsExportDirectoryRemoveRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="identifiers" nillable="true" type="q54:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SettingsExportDirectoryRemoveRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" minOccurs="0" name="SettingsExportDirectoryRemoveRangeResult" nillable="true" type="q55:LongExecutionResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SettingsImportDirectoryPut">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" minOccurs="0" name="item" nillable="true" type="q56:AccountSettingsImportDirectory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SettingsImportDirectoryPutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/RoyaltyService.Services.Account.Result" minOccurs="0" name="SettingsImportDirectoryPutResult" nillable="true" type="q57:AccountSettingsImportDirectoryResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SettingsImportDirectoryUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" minOccurs="0" name="item" nillable="true" type="q58:AccountSettingsImportDirectory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SettingsImportDirectoryUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/RoyaltyService.Services.Account.Result" minOccurs="0" name="SettingsImportDirectoryUpdateResult" nillable="true" type="q59:AccountSettingsImportDirectoryResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SettingsImportDirectoryRemove">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="identifier" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SettingsImportDirectoryRemoveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" minOccurs="0" name="SettingsImportDirectoryRemoveResult" nillable="true" type="q60:LongExecutionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SettingsImportDirectoryRemoveRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="identifiers" nillable="true" type="q61:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SettingsImportDirectoryRemoveRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" minOccurs="0" name="SettingsImportDirectoryRemoveRangeResult" nillable="true" type="q62:LongExecutionResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SettingsColumnPut">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" minOccurs="0" name="item" nillable="true" type="q63:AccountSettingsColumn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SettingsColumnPutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/RoyaltyService.Services.Account.Result" minOccurs="0" name="SettingsColumnPutResult" nillable="true" type="q64:AccountSettingsColumnsResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SettingsColumnUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" minOccurs="0" name="item" nillable="true" type="q65:AccountSettingsColumn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SettingsColumnUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/RoyaltyService.Services.Account.Result" minOccurs="0" name="SettingsColumnUpdateResult" nillable="true" type="q66:AccountSettingsColumnsResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SettingsColumnRemove">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="identifier" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SettingsColumnRemoveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" minOccurs="0" name="SettingsColumnRemoveResult" nillable="true" type="q67:LongExecutionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SettingsColumnRemoveRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="identifiers" nillable="true" type="q68:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SettingsColumnRemoveRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" minOccurs="0" name="SettingsColumnRemoveRangeResult" nillable="true" type="q69:LongExecutionResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetColumnMarks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetColumnMarksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/RoyaltyService.Services.Account.Result" minOccurs="0" name="GetColumnMarksResult" nillable="true" type="q70:AccountSettingsMarkResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetColumnTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetColumnTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/RoyaltyService.Services.Account.Result" minOccurs="0" name="GetColumnTypesResult" nillable="true" type="q71:AccountSettingsColumnTypeResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/RoyaltyService.Services.Account.Result" minOccurs="0" name="GetAllResult" nillable="true" type="q72:AccountResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="identifier" type="q73:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/RoyaltyService.Services.Account.Result" minOccurs="0" name="GetResult" nillable="true" type="q74:AccountResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="identifiers" nillable="true" type="q75:ArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/RoyaltyService.Services.Account.Result" minOccurs="0" name="GetRangeResult" nillable="true" type="q76:AccountResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Put">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" minOccurs="0" name="item" nillable="true" type="q77:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/RoyaltyService.Services.Account.Result" minOccurs="0" name="PutResult" nillable="true" type="q78:AccountResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" minOccurs="0" name="item" nillable="true" type="q79:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/RoyaltyService.Services.Account.Result" minOccurs="0" name="UpdateResult" nillable="true" type="q80:AccountResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Remove">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="identifier" type="q81:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" minOccurs="0" name="RemoveResult" nillable="true" type="q82:GuidExecutionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="identifier" nillable="true" type="q83:ArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" minOccurs="0" name="RemoveRangeResult" nillable="true" type="q84:GuidExecutionResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>