RoyaltyService.Tests/Service References/FileServiceReference/RoyaltyService.Model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ResultWithValue">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResultWithValue" Namespace="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="FileInfo" Namespace="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Result">
        <xs:sequence>
          <xs:element minOccurs="0" name="Value" nillable="true" type="tns:FileInfo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResultWithValue" nillable="true" type="tns:ResultWithValue" />
  <xs:complexType name="Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Result" nillable="true" type="tns:Result" />
  <xs:complexType name="FileInfo">
    <xs:sequence>
      <xs:element name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Encoding" nillable="true" type="xs:string" />
      <xs:element name="FileID" nillable="true" type="xs:string" />
      <xs:element name="FileName" nillable="true" type="xs:string" />
      <xs:element name="FileSize" type="xs:long" />
      <xs:element minOccurs="0" name="MimePreviewFileNameBig" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MimePreviewFileNameSmall" nillable="true" type="xs:string" />
      <xs:element name="MimeType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileInfo" nillable="true" type="tns:FileInfo" />
  <xs:complexType name="ResultWithValues">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResultWithValues" Namespace="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="FileInfo" Namespace="http://schemas.datacontract.org/2004/07/RoyaltyService.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Result">
        <xs:sequence>
          <xs:element minOccurs="0" name="Values" nillable="true" type="tns:ArrayOfFileInfo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResultWithValues" nillable="true" type="tns:ResultWithValues" />
  <xs:complexType name="ArrayOfFileInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FileInfo" nillable="true" type="tns:FileInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFileInfo" nillable="true" type="tns:ArrayOfFileInfo" />
</xs:schema>